<a href="https://colab.research.google.com/github/qwerty20004/gcolab/blob/main/Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Hardcoded Variables
name = "Alice"
age = 25
print(f"Name: {name}, Age: {age}")

Name: Alice, Age: 25

In [3]:
# Keyboard Input
user_name = input("Enter your name: ")
user_age = int(input("Enter your age: "))
print(f"Hello {user_name}, you are {user_age} years old.")

Enter your name: Sai Ganesh
Enter your age: 20
Hello Sai Ganesh, you are 20 years old.

In [4]:
# Read Single Input From File
with open('/content/drive/MyDrive/input.txt', 'r') as file:
    data = file.read()
    print(f"File Content: {data}")

File Content: Hello, World!

In [5]:
# Read Multiple Inputs From File
with open('/content/drive/MyDrive/inputs.txt', 'r') as file:
    for line in file:
        name, age = line.strip().split(',')
        print(f"Name: {name}, Age: {age}")

Name: Alice, Age: 25
Name: Bob, Age: 30
Name: Charlie, Age: 35

In [6]:
# Debugging and Error Handling
try:
    with open('/content/drive/MyDrive/input.txt', 'r') as file:
        data = file.read()
        print(data)
except FileNotFoundError:
    print("Error: File not found.")
except ValueError:
    print("Error: Incorrect input format.")

Hello, World!

In [7]:
# Debugging and Error Handling
try:
    with open('/content/drive/MyDrive/inputs.txt', 'r') as file:
        data = file.read()
        print(data)
except FileNotFoundError:
    print("Error: File not found.")
except ValueError:
    print("Error: Incorrect input format.")

Alice,25
Bob,30
Charlie,35